<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Group_Project_Diagram.My.MySettings.CarDealershipConnectionString"
            connectionString="Data Source=|DataDirectory|\CarDealership.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Group_Project_Diagram.My.MySettings.VehiclesConnectionString"
            connectionString="Data Source=|DataDirectory|\PersonalInformation.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Group_Project_Diagram.My.MySettings.PersonalInformationConnectionString"
            connectionString="Data Source=|DataDirectory|\PersonalInformation.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Group_Project_Diagram.My.MySettings.VehicleConnectionString"
            connectionString="Data Source=|DataDirectory|\Vehicle.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Group_Project_Diagram.My.MySettings.PersonalInfoConnectionString"
            connectionString="Data Source=|DataDirectory|\PersonalInfo.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Group_Project_Diagram.My.MySettings.VehiclesConnectionString1"
            connectionString="Data Source=|DataDirectory|\Vehicles.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Group_Project_Diagram.My.MySettings.VehiclesConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Vehicles.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Group_Project_Diagram.My.MySettings.Car_DealershipConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Tyler\Documents\GitHub\CarDealership\Project\Car_Dealership.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Group_Project_Diagram.My.MySettings.Car_DealershipConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Car_Dealership.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Group_Project_Diagram.My.MySettings.DealershipConnectionString"
            connectionString="Data Source=TYLER-PC\TYLER;Initial Catalog=Dealership;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
